<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard maneger</title>
</head>
<body>
    <div>
        <H1>ATM transcation Report</H1>
        <iframe title="demo1" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=943d4d56-3d51-4f41-b010-c97e47ca4e19&autoAuth=true&ctid=51b942db-4e9b-4228-b3f4-777327ee4809" frameborder="0" allowFullScreen="true">
        </iframe>
    </div>
</body>
</html>